Data-Validator-*
.*
!.gitignore
!.shipit
!.dim.pl
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
*blib
MYMETA.yml
META.yml
inc/
MANIFEST
*.out
*.bak
*.old
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
